/* NavMenu.css */

/* Style for the overall Navbar */
.navbar {
    background-color: #f8f9fa; /* Light grey background */
    border-bottom: 1px solid #e0e0e0; /* Border bottom */
}

/* Box shadow for Navbar */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1); /* Subtle box shadow */
}
/* Ensure navbar items are aligned horizontally */
.navbar-nav {
    display: flex;
    align-items: center; /* Align items vertically center */
}

/* Style adjustments for NavItems, if necessary */
.nav-item {
    display: flex;
    align-items: center; /* Align items vertically center */
}


/* Style for Navbar brand (logo or title) */
.navbar-brand {
    color: #333333; /* Dark color for brand text */
    font-weight: bold; /* Bold font for brand */
}

/* Style for Navbar items */
.navbar-nav .nav-item .nav-link {
    color: #555555; /* Dark color for nav items */
    margin-right: 1rem; /* Space between nav items */
}

    .navbar-nav .nav-item .nav-link:hover {
        color: #007bff; /* Color change on hover */
    }

/* Style for the current active link */
.navbar-nav .nav-item .active {
    color: #007bff; /* Highlight color for active nav item */
    border-bottom: 2px solid #007bff; /* Bottom border for active nav item */
}

/* Style for Navbar toggler (hamburger icon on small screens) */
.navbar-toggler {
    border: none; /* Remove default border */
    outline: none; /* Remove focus outline */
}

/* Style for welcome message */
.navbar-text {
    color: #333333; /* Dark color for welcome text */
    margin-right: 0.5rem; /* Right margin for spacing */
}
