/* WeatherInfo component styles */
.weather-info {
    text-align: left; /* Align content to the left */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;

}

    .weather-info h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .weather-info button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .weather-info button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

.weather-data {
    margin-top: 20px;
}

    .weather-data h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .weather-data p {
        font-size: 16px;
        margin: 5px 0;
    }
